body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    display: flex;
    justify-items: center;
    /*align-items: center;*/
    height: 100vh;
}
.wrapper{
    margin:0 auto;
    min-width:30%;
    max-width:80%;
}
header{
    text-align:center;
}
.btns {
    text-align: center;
    padding: 1rem;
}
.btns input{
    font-size:.9rem;
    padding:0.4rem 1.5rem;
    color: #fff;
    background-color: #1866c6;
    border:0 solid;
    margin-bottom:0.5rem;
}
code {
    font-size: .9rem;
    min-width: 300px;
    max-width: 800px;
    width: 100%;
    overflow: auto;
}
.text-blue{
    color: #1866c6;
    font-weight:600;
}
